<!DOCTYPE html>
<html lang="da">
<head>
    <title>11ty-scss-template | {{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>
            <a href="/">11ty-scss-template</a>
        </h1>
        <a href="/">site index</a>
        <span>&amp;</span>
        <a href="/includes">_includes demonstration</a>
    </header>
    {{ content | filterOffsiteAnchors | safe }}
</body>
</html>
