---
title: index
layout: 'base.njk'
---

<main class="content">
    <h1>Hello world!</h1>
    <p>Example image:</p>
    <img src="images/example.png" alt="2 light gray squares and 2 dark gray squares in a checkerboard pattern" width="512" height="512">
</main>
